Combine individual time series into multivariate time series

In [7]:
import pandas as pd
import os
from pathlib import Path

In [55]:
TIME_SERIES_DIR = "./Time Series"
time_series = []

In [56]:
files = os.listdir(TIME_SERIES_DIR)
csv_files = [file for file in files if file.endswith('.csv')]

# For every csv file in Time Series folder, load into dataframe and add to list
for csv_file in csv_files:
    file_path = os.path.join(TIME_SERIES_DIR, csv_file)
    df = pd.read_csv(file_path, header=[0,1], index_col = 0)
    df.index.name = Path(file_path).stem
    df.index = pd.to_datetime(df.index)
    df.index.freq = "D"
    time_series.append(df)
    print(f"{Path(file_path).stem} contains {df.shape[0]} entries.")

FCS contains 1386 entries.
rCSI contains 1335 entries.

In [61]:
# Use inner join to merge time series so date range contains data with all indexes
# (only select entries where all timeseries has data)

df = time_series[0]
for ts in time_series[1:]:
    df = pd.merge(df, ts, how="inner", left_index=True, right_index=True)

print(f"Merged dataframe contains {df.shape[0]} entries.")

Merged dataframe contains 1335 entries.

In [64]:
df = df.sort_index(axis=1)
df.head()

AdminStrata      Abyan                  Aden              Al Bayda             \
Index              FCS       rCSI        FCS       rCSI        FCS       rCSI
2018-08-22   31.809805  37.421880  19.412643  35.628421  49.318569  39.101832
2018-08-23   32.374660  37.346207  21.149675  30.467806  51.034483  38.444610
2018-08-24   33.772110  37.999408  25.506867  23.654949  49.224466  37.490035
2018-08-25   34.533738  36.068234  24.338942  21.326038  48.076367  35.308107
2018-08-26   32.327892  38.218464  24.294671  22.310512  48.911223  38.234575

AdminStrata Al Dhale'e            Al Hudaydah             ...     Sa'ada  \
Index              FCS       rCSI         FCS       rCSI  ...        FCS
2018-08-22   38.415584  43.976194   17.902243  52.097359  ...  29.250284
2018-08-23   37.643521  44.524081   18.287813  53.395195  ...  29.930260
2018-08-24   39.629049  47.873316   19.172334  53.570209  ...  31.395349
2018-08-25   40.495283  47.480356   21.687916  53.126038  ...  30.455291
2018-08-26   40.991926  48.670002   21.371394  52.186640  ...  25.828248

AdminStrata                Sana'a               Shabwah               Socotra  \
Index             rCSI        FCS       rCSI        FCS       rCSI        FCS
2018-08-22   46.435518  30.901922  52.667849  33.048813  34.302200  17.496375
2018-08-23   45.261947  31.738683  50.214606  31.034483  36.742499  17.929668
2018-08-24   44.520462  32.759045  50.073157  25.936048  35.857748  20.298220
2018-08-25   46.345940  33.138993  48.791655  28.135259  34.658434  23.981603
2018-08-26   43.294599  33.035913  48.839640  28.347996  35.913080  23.981603

AdminStrata                 Taizz
Index             rCSI        FCS       rCSI
2018-08-22   38.303104  39.043078  50.919038
2018-08-23   39.545071  39.371670  50.415852
2018-08-24   41.867782  36.662083  49.391298
2018-08-25   48.585591  37.205170  50.302392
2018-08-26   48.662394  37.025723  50.293046

[5 rows x 44 columns]

In [58]:
df.to_csv("time_series.csv", index_label=False)